body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 20em;
    height: 20em;
    background-color: rgb(245, 174, 185);
    position: relative;
    
}

.square--trym {
    animation: trym 6s 2s infinite;
}

@keyframes trym {
    0%  { background-color: rgb(245, 174, 185); }
    25% { border-radius: 50%; transform: rotateZ(0deg);}
    26% { transform: rotateZ(45deg); } 
    50% { border-radius: 0%; }
    75% { border-radius: 50%; transform: rotateZ(45deg)}
    76% { transform: rotateZ(0deg);}
    100% { border-radius: 0%;}
}
