#head {
  animation: beat 4s infinite;
}
    @keyframes beat {
        0% {
          transform: translate(0);
        }
        50% {
          transform: translate(-3vw, 7vw);
        }
        100%{
          transform: translate(0);
        }
    }

.tumbleweed {
  animation: tumbling 5s infinite;
}
    @keyframes tumbling {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100vw) rotateZ(-1500deg);
      }
    }

.bucket-animation{
  animation: pull 12s forwards;
}
    @keyframes pull {
      100% {
        transform: translateY(-6.6vw);
        z-index: 1;
      }
    }

.rope-animation {
  animation: rope 12s forwards;
}
    @keyframes rope {
      10% {
        height: 11vw;
      }
      
      100% {
        height: 6vw;
        z-index: 1;
      }
    }

.growing-tree1 {
  animation: growing 26s forwards; 
}
.growing-tree2 {
  animation: growing 27s forwards; 
}
.growing-tree3 {
  animation: growing 18s forwards; 
}
.growing-tree3 {
  animation: growing 23s forwards; 
}
    @keyframes growing {
      10% {
        transform-origin: scaleY(100%) scaleX(100%);
      }
      
      100% {
        transform: scaleY(800%) scaleX(650%);
      }
    }

.handle-animation {
  animation: drag 4s linear 3;
}
    @keyframes drag {
      50% {
        transform: translateY(-6.5vw);
      }
    }

.handle-inner-animation {
  animation: drag-inner 4s linear 3;
}
    @keyframes drag-inner {
      25% {
        height: 1vw;
        transform: translateY(-1vw);
      }
      50% {
        height: 5vw;
        transform: translateY(-4.3vw);
      }
      75% {
        height: 1vw;
        transform: translateY(-1vw);
      }
    }

.tap__circle-container{
  animation: spin 4s linear infinite    
}
    @keyframes spin {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotateY(360deg);
      }
    }

#small-pond {
  transition: 2s;
}


.smaller-pond{
  animation: shrink 3s linear forwards;
  transform: scaleY(50%) scaleX(50%);
  transition: 2s;
}

.drops > img {
  animation: drip 6s infinite, drops 6s infinite;
}
    @keyframes drops {
      from {
        opacity: 1;
      }
      
      to { 
        opacity: 0;
      }
    }

    @keyframes drip {
      0% {
        transform: translate(0, 0);    
      }
      100% {
        transform: translateY(11vw);
      }
    }

