
body {
    --mountain-1: hsl(0,1%,66%);
    --mountain-2: hsl(0,3%,70%);
    --mountain-3: hsl(0,4%,78%);
    --mountain-4: hsl(212,19%,77%);
    --mountain-5: hsl(210,39%,76%);
    --ground: hsl(100,75%,37%);
    --sky: hsl(208,83%,74%);
    --sky-dark: hsl(211,73%,64%);
    --sky-bright: hsl(208,76%,83%);

}

body.african {
    --mountain-1: hsl(30,70%,56%);
    --mountain-2: hsl(31,78%,58%);
    --mountain-3: hsl(31,76%,66%);
    --mountain-4: hsl(32,31%,54%);
    --mountain-5: rgb(192, 161, 126);
    --ground: hsl(31,74%,48%);
    --sky: hsl(32,83%,74%);
    --sky-dark:hsl(19,73%,64%);
    --sky-bright: hsl(34,44%,83%);
}

$water: hsl(183,51%,51%);
$bubbles: hsl(183,47%,59%);
$top-bubble: hsl(183,54%,74%);
$edge: hsl(31,75%,48%);
$grey-edge: hsl(29,41%,50%);
$sun: hsl(43,94%,72%);

$orange-1:#DD944F;
$light-brown:#BA6A3B;
$yellow-white:#EDEAE6;
$dark-brown:#302016;
$dark-orange:#BD5D2E;
$red-brown:#A53A23;
$white-1:#EEEAE9;
$black-1:#040504;
$white-2:#EDEAE9;
$yellow-1:#E8B85C;
$orange-2:#CF7D2E;
$black-2:#0D0C0C;
$black-3:#000000;

$intro:#a2caf0;