
.norwegian{
    $mountain-1: hsl(0,1%,66%);
    $mountain-2: hsl(0,3%,70%);
    $mountain-3: hsl(0,4%,78%);
    $mountain-4: hsl(212,19%,77%);
    $mountain-5: hsl(210,39%,76%);
    $sky: hsl(208,83%,74%);
    $sun: hsl(43,94%,72%);
    $sky-norwegian-bright: hsl(208,76%,83%);
    $ground: hsl(100,75%,37%);
    $sky-dark: hsl(211,73%,64%);
}

$sky-african:hsl(32,83%,74%);

$sky-african-dark: hsl(19,73%,64%);

$sky-african-bright: hsl(34,44%,83%);

$ground-african: hsl(31,74%,48%);

$african-mountain-1: hsl(30,70%,56%);

$water: hsl(183,51%,51%);
$bubbles: hsl(183,47%,59%);
$top-bubble: hsl(183,54%,74%);
$edge: hsl(31,75%,48%);
$grey-edge: hsl(29,41%,50%);