
body {
    --mountain-1: hsl(0,1%,66%);
    --mountain-2: hsl(0,3%,70%);
    --mountain-3: hsl(0,4%,78%);
    --mountain-4: hsl(212,19%,77%);
    --mountain-5: hsl(210,39%,76%);
    --ground: hsl(100,74%,37%);
    --sky: hsl(208,83%,74%);
    --sky-dark: hsl(211,73%,64%);
    --sky-bright: hsl(208,76%,83%);
    --riverst0: #493F35;
    --riverst1: #544639;
    --riverst2: #605954;
    --riverst3: #6D6155;
    --riverst4: #585654;
    --riverst5: #525251;
    --riverst6: #695D51;
    --riverst7: #636363;
    --riverst8: #504d49;
    --riverst9: #9b9792;
    --riverst10:#5b5957;
    --riverst12:#565553;
    --riverst13:#7BB4EA;
    --riverst14:#7BB4EA;
}

body.african {
    --mountain-1: hsl(30,70%,56%);
    --mountain-2: hsl(31,78%,58%);
    --mountain-3: hsl(31,76%,66%);
    --mountain-4: hsl(32,31%,54%);
    --mountain-5: rgb(192, 161, 126);
    --ground: hsl(31,74%,48%);
    --sky: hsl(32,83%,74%);
    --sky-dark:hsl(19,73%,64%);
    --sky-bright: hsl(34,44%,83%);
    --riverst0: #9B5E15;
    --riverst1: #AC601B;
    --riverst2: #B65F10;
    --riverst3: #BC600A;
    --riverst4: #BD7117;
    --riverst5: #AF6610;
    --riverst6: #AA5F07;
    --riverst7: #AF6917;
    --riverst8: #C67D28;
    --riverst9: #E89740;
    --riverst10:#E89740;
    --riverst12:#824106;
    --riverst13:#7BB4EA;
    --riverst14:#7bb4ea00;
}

$water: hsl(183,51%,51%);
$bubbles: hsl(183,47%,59%);
$top-bubble: hsl(183,54%,74%);
$edge: hsl(31,75%,48%);
$grey-edge: hsl(29,41%,50%);
$sun: hsl(43,94%,72%);

$orange-1:#DD944F;
$light-brown:#BA6A3B;
$yellow-white:#EDEAE6;
$dark-brown:#302016;
$dark-orange:#BD5D2E;
$red-brown:#A53A23;
$white-1:#EEEAE9;
$black-1:#040504;
$white-2:#EDEAE9;
$yellow-1:#E8B85C;
$orange-2:#CF7D2E;
$black-2:#0D0C0C;
$black-3:#000000;

$african-tree-trunk:#824106;
$african-tree-lightgreen: #91B549;
$african-tree-green: #7CAE18;

$intro:#a2caf0;
$darkgrey-1:#727272;
$grey-1:#D2D2D2;
$white: white;


$tap: hsl(0,0%,44%);