  .pond {
    margin-top: 1.2rem;
    margin-left: 3.2rem;
    position: absolute;
  
  
    &__water:nth-of-type(1) {
      width: 370px; 
      height: 115px; 
      border-radius: 50%;
      margin-left: 2rem;
    }
  
    &__water:nth-of-type(2) {
      width: 350px; 
      height: 140px; 
      border-radius: 50%;
      margin-top: -4.4rem;
      margin-left: 1rem;
      transform: skew(15deg, 3deg);
    }
  
    &__water:nth-of-type(3) {
      width: 210px; 
      height: 70px; 
      border-radius: 50%;
      margin-top: -5.4rem;
      margin-left: 16rem;
      transform: skew(-10deg, -11deg);
    }
    
    &__water:nth-of-type(4) {
      width: 125px; 
      height: 80px; 
      border-radius: 70%;
      margin-left: 20.3rem;
      margin-top: -7.6rem;
      transform: skew(-15deg)
    }
  
    &__water:nth-of-type(5) {
      width: 88px; 
      height: 45px; 
      border-radius: 50%;
      margin-top: -2.5rem;
      margin-left: 0.25rem;
      transform: rotate(30deg)
    }
  
    
    &__bubble:nth-of-type(1) {
      width: 188px; 
      height: 52px; 
      border-radius: 50%;
      margin-left: 6.3rem;
      margin-top: -6.5rem;
    }
    
    &__bubble:nth-of-type(2) {
      width: 146px; 
      height: 47px; 
      border-radius: 50%;
      margin-left: 14rem;
      margin-top: -4.6rem;
    }
    
    &__bubble:nth-of-type(3) {
      width: 140px; 
      height: 60px; 
      border-radius: 50%;
      margin-left: 15rem;
      margin-top: -2.3rem;
    }
    
    &__bubble:nth-of-type(4) {
      width: 155px; 
      height: 60px; 
      border-radius: 50%;
      margin-left: 4.5rem;
      margin-top: -2.4rem;
    }
    
    &__bubble:nth-of-type(5) {
      width: 8px; 
      height: 6px; 
      border-radius: 50%;
      margin-left: 13rem;
      margin-top: -2.5rem;
    }
    
    &__bubble:nth-of-type(6) {
      width: 8px; 
      height: 6px; 
      border-radius: 50%;
      margin-left: 12.2rem;
      margin-top: -2.9rem;
    }
    
    &__bubble:nth-of-type(7) {
      width: 8px; 
      height: 6px; 
      border-radius: 50%;
      margin-left: 10.5rem;
      margin-top: 2.2rem;
    }
    
    &__bubble:nth-of-type(8) {
      width: 9px; 
      height: 6px; 
      border-radius: 50%;
      margin-left: 11.8rem;
      margin-top: 1.8rem;
    }
    
    &__bubble:nth-of-type(9) {
      width: 10px; 
      height: 6px; 
      border-radius: 50%;
      margin-left: 16.8rem;
      margin-top: -3.5rem;
    }
    
    &__bubble:nth-of-type(10) {
      width: 7px; 
      height: 7px; 
      border-radius: 50%;
      margin-left: 21.2rem;
      margin-top: -0.4rem;
    }
    
    &__bubble:nth-of-type(11) {
      width: 10px; 
      height: 7px; 
      border-radius: 50%;
      margin-left: 20.4rem;
      margin-top: 0.1rem;
    }
    
    &__bubble:nth-of-type(12) {
      width: 8px; 
      height: 5px; 
      border-radius: 50%;
      margin-left: 15.2rem;
      margin-top: -5.6rem;
    }
    
    &__bubble:nth-of-type(13) {
      width: 13px; 
      height: 9px; 
      border-radius: 50%;
      margin-left: 3.7rem;
      margin-top: -3.4rem;
    }
    
    &__bubble:nth-of-type(14) {
      width: 8px; 
      height: 6px; 
      border-radius: 50%;
      margin-left: 4.8rem;
      margin-top: -3.1rem;
    }
    
    
    &__bubble:nth-of-type(1), &__bubble:nth-of-type(2), &__bubble:nth-of-type(3), &__bubble:nth-of-type(4), &__bubble:nth-of-type(5), &__bubble:nth-of-type(6), &__bubble:nth-of-type(7), &__bubble:nth-of-type(8), &__bubble:nth-of-type(13), &__bubble:nth-of-type(14) {
      position: absolute;
    }
    
    &__bubble:nth-of-type(9), &__bubble:nth-of-type(10), &__bubble:nth-of-type(11), &__bubble:nth-of-type(12) {
      position: absolute; 
    }

  }
  .edge {
    z-index: -1;
  
    &__1:nth-of-type(1) {
      width: 410px; 
      height: 145px; 
      border-radius: 50%;
      margin-left: 4.2rem;
      margin-top: 18rem;
      z-index: -1; 
    }
    
    &__2:nth-of-type(2) {
      width: 100px; 
      height: 75px; 
      border-radius: 50%;
      margin-left: 26.5rem;
      margin-top: -5.5rem;
    }
    
    &__3:nth-of-type(3) {
      width: 70px; 
      height: 45px; 
      border-radius: 50%;
      margin-left: 28.3rem;
      margin-top: -1.5rem;
      transform: skew(-32deg);
      z-index: -1;
      position: absolute;
    }
    
    &__4:nth-of-type(4) {
      width: 60px; 
      height: 80px;
      border-radius: 50%;
      margin-left: 3.4rem;
      margin-top: -3.8rem;
      transform: rotate(-40deg);
      z-index: -1;
      position: absolute;
    }
    
    /* grey */
    
    &__5:nth-of-type(5) {
      width: 422px; 
      height: 165px; 
      border-radius: 50%;
      margin-left: 3.8rem;
      margin-top: -9rem;
    }
    
    &__6:nth-of-type(6) {
      width: 100px; 
      height: 90px; 
      border-radius: 50%;
      margin-left: 27.2rem;
      margin-top: -5.3rem;
      transform: rotate(-30deg);
    }
    
    &__7:nth-of-type(7) {
      width: 190px; 
      height: 75px; 
      border-radius: 50%;
      margin-left: 21rem;
      margin-top: -2rem;
      transform: skew(-55deg);
    }
    
    &__8:nth-of-type(8) {
      width: 192px; 
      height: 55px; 
      border-radius: 50%;
      margin-left: 21.6rem;
      margin-top: 0rem;
      transform: rotate(-19deg);
    }
    
    &__9:nth-of-type(9) {
      width: 370px; 
      height: 135px; 
      border-radius: 50%;
      margin-left: 2rem;
      margin-top: -3.8rem;
      transform: rotate(12deg);
    }
    
    &__10:nth-of-type(10) {
      width: 90px; 
      height: 30px; 
      border-radius: 50%;
      margin-left: 20rem;
      margin-top: 2.6rem;
      transform: rotate(-8deg);
    }
    
    &__5:nth-of-type(5), &__6:nth-of-type(6), &__7:nth-of-type(7), &__8:nth-of-type(8), &__9:nth-of-type(9), &__10:nth-of-type(10) {
      position: absolute;
      z-index: -2;
    }

  }

  .drops {
    animation: drip 6s infinite, drops 6s infinite;
    width: 5vw;
    position: absolute;
    margin-left: 51.7vw;
    top: 22.6vw;
    z-index: 1;
  }

  .cover-water {
    width: 4vw;
    height: 4vw;
    background-color: $tap;
    margin-left: 52.3vw;
    margin-top: 24.9vw;
    position: absolute;
    z-index: 2;
  }
  
  .cover-water1 {
    width: 2vw;
    height: 3vw;
    background-color: $tap;
    margin-left: 53.5vw;
    margin-top: 23vw;
    position: absolute;
    z-index: 2;
  }

  .lady {
    position: relative;
    font-family: Georgia;
    width: 30vw;
    font-size: 1.5vw;
    line-height: 2vw;
    background-color: $white;
    border-radius: 5vw;
    padding: 2vw;
    text-align: center;
    color: $black-2;
    z-index:2;
  }
  
  .lady__bubble:before {
    content: "";
    position: absolute;
    border-right: 2vw solid transparent;
    border-bottom: 2vw solid $white;
    border-left: 2vw solid transparent;
    border-top: 1vw solid transparent;
    width: 0vw;
    height: 0vw;
    background-color: transparent;
    left: 1.7vw;
    transform: rotate(-45deg);
    bottom: -1.6vw;
    }

.talking-box {
  position: absolute;
  bottom: 70vw;
  left: 11vw;
}

.talking-lady {
  position: absolute;
  height: 100vw;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

.blur {
  position: absolute;
  filter: opacity(80%);
  height: 100vw;
  width: 100vw;
  z-index: 1;
  background: white;

}