
  
  .lynx {
    position: absolute;
    top: 500px;
    left: 300px;
  }
  
  .forehead {
    position: absolute;
    transform: scale(75%);
    top: 20px;
    left: 40px;
    z-index: 1;
  }
  
  .b-face-1 {
    position: absolute;
    background-color: #dd9450;
    height: 350px;
    width: 320px;
    border-radius: 0 0 50% 50%;
  }
  
  .b-face-2 {
    position: absolute;
    background-color: #dd9450;
    height: 100px;
    width: 100px;
    top: -50px;
    left: 120px;
    z-index: -1;
  }
  
  .b-circle {
    position: absolute;
    height: 250px;
    width: 200px;
    background-color: #dd9450;
    left: 60px;
    top: -55px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .b-face-3 {
    position: absolute;
    left: 52.5px;
  }
  
  .b-face-4 {
    position: absolute;
    left: -52.5px;
  }
  
  .ears {
    z-index: 0.97;
  }
  
  .ear-circle {
    position: absolute;
    background-color: #302017;
    width: 100px;
    height: 100px;
    border-radius: 100% 50% 100% 20%;
    top: 400px;
    left: 20px;
  
  }
  
  .ear-1 {
    position: absolute;
    transform: rotate(40deg);
    left: 520px;
    top: -350px;
    z-index: 0;
  }
  
  .ear-2 {
    position: absolute;
    left: -200px;
    top: -350px;
    transform: scale(-1, 1) rotate(40deg);
    z-index: 0.5;
  }
  
  
  
  .ear-body {
    position: absolute;
    background-color: #302017;
    height: 250px;
    width: 130px;
    border-radius: 0 100% 20% 20%;
    top: 200px;
  }
  
  .tip {
    position: absolute;
    background-color: #302017;
    height: 100px;
    width: 20px;
    border-radius: 0 100% 0 0;
    top: 120px;
  }
  
  .mark-upper {
    position: absolute; 
    background-color: #bc5d30;
    width: 50px;
    height: 50px;
    left: 500px;
    border-radius: 100% 100% 100% 50%;
  }
  
  .mark-lower {
    position: absolute; 
    background-color: #bc5d30;
    width: 50px;
    height: 50px;
    top: 30px;
    left: 500px;
    border-radius: 30% 100% 20% 100%;
  }
  
  .mark-square {
    position: absolute;
    background-color: #bc5d30;
    width: 40px;
    height: 40px;
    left: 508px;
    top: 20px;
  }
  
  .marker-1 {
    position: absolute;
  }
  
  .marker-2 {
    position: absolute;
    left: 1130px;
    top: 80px;
    transform: rotate(180deg);
    z-index: 1;
  }
  
  .markers {
    transform: scale(60%);
    position: absolute;
    left: -180px;
    top: 30px;
    z-index: 1;
  }
  
  .eyes {
    position: absolute;
    top: 80px;
    left: 45px;
  }
  
  .eyes {
    position: absolute;
    transform: scale(60%);
    z-index: 1;
  }
  
  .eye-1 {
    position: absolute;
    top: 60px;
    left: 46px;
  }
  
  .eye-2 {
    position: absolute;
    left: 251px;
    top: 60px;
  }
  
  .white-inner {
    position: absolute;
    background: white;
    height: 20px;
    width: 20px; 
    background-color: white;
    border-radius: 100%;
    left: 27px;
    top: 24px;
    z-index: 1;
  }
  
  .yellow {
    position: absolute;
    background: white;
    height: 70px;
    width: 70px; 
    background-color: #e8b85c;
    border-radius: 100%;
    top: 7px;
    left: 7px;
    z-index: 1;
  }
  
  .black {
    position: absolute;
    background: white;
    height: 40px;
    width: 40px; 
    background-color: black;
    border-radius: 100%;
    left: 22px;
    top: 22px;
    z-index: 1;
  }
  
  
  .white-outer {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 100%;
    left: -8px;
    top: -8px;
    z-index: 1;
  }
  
  .white-hidden {
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: #dd9450;
    top: -15px;
    left: 44px;
    z-index: 0;
  }
  
  .eye-2 > :nth-child(1) > :nth-child(1) {
    left: 0;
  }
  
  .nose {
    position: absolute; 
    top: 120px;
    left: 120px;
    transform: scale(40%);
    z-index: 1;
  }
  
  .big-part {
    position: absolute;
    height: 350px;
    width: 200px;
    background-color: #cf7d31;
    border-radius: 50% 50% 60% 60%;
  }
  
  .big-circle {
    position: absolute;
    height: 100px;
    width: 150px;
    background-color: #bc5d30;
    border-radius: 50% 50% 50% 50%;
    top: 250px;
    left: 25px;
  }
  
  .little-circle {
    position: absolute;
    height: 80px;
    width: 150px;
    background-color: black;
    border-radius: 50% 50% 50% 50%;
    top: 20px;
  }
  
  .mouth {
    position: absolute;
    
  }
  
  .part-mouth-1 {
    position: absolute; 
    width: 220px;
    height: 140px;
    top: 210px;
    left: 50px;
    background-color: white;
    border-radius: 50%;
  }
  
  .dots {
    position: absolute;
  }
  
  .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
  }
  
  .dot-1 {
    position: absolute;
    top: 45px; 
    left: 40px;
  }
  
  .dot-2 {
    position: absolute;
    top: 50px; 
    left: 80px;
  }
  
  .dot-3 {
    position: absolute;
    top: 70px; 
    left: 60px;
  }
  
  .dots-2 {
    position: absolute;
    transform: scale(-1, 1) translate(-220px);
  }
  
  .lines {
    position: absolute;
    top: 20px;
    left: 110px;
    transform: scale(70%);
  }
  
  .line {
    position: absolute;
    width: 120px;
    height: 100px;
    border: solid 10px black;
    border-color: transparent transparent black     black;
    border-radius:0 0 100% 100%;
  }
  
  .line-2 {
    position: absolute;
    transform: scale(-1, 1);
  }
  
  .whiskers {
    position: absolute;
    top: 270px;
  }
  
  
  .whisker {
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: black;
    transform: rotate(-15deg);
  }
  
  .whisker-2 {
    position: absolute;
    top: 20px;
  }
  
  .whisker-left {
    position: absolute;
    left: -80px;
  }
  
  .whisker-right {
    position: absolute;
    transform: scale(-1,1);
    left: 400px;
  }
  
  .lynx-body {
    position: absolute;
    top: 200px;
    left: 200px;
  }
  
  .front-1 {
    position: absolute;
    height: 150px;
    border-left: 1000px solid #dd9450;
    border-bottom: 200px solid transparent;
    border-top: 100px solid transparent;
    border-radius: 50%;
    transform: rotate(deg);
  }
  
  .front-2 {
    position: absolute;
    height: 200px;
    width: 400px;
    background-color: #dd9450;
    top: 20px;
    left: 60px;
    border-radius: 50%;
  }
  
  .front-3 {
    position: absolute;
    top: 20px;
    left: 500px;
  }
  
  .front-4 {
    position: absolute;
    height: 300px;
    width: 200px;
    background-color: #dd9450;
    border-radius: 50%;
    top: 100px;
    left: 850px;
  }
  
  .front-5 {
    position: absolute;
    height: 200px;
    width: 500px;
    background-color: #dd9450;
    border-radius: 50%;
    top: 130px;
    left: 530px;
  }
  
  .front-6 {
    position: absolute;
    width: 200px;
    height: 100px;
    border: solid 80px #dd9450;
    border-color: #dd9450 #dd9450 transparent transparent;
    border-radius:40% 100% 0 0;
    transform: rotate(-10deg);
    top: 230px;
    left: 400px;
  }
  
  .front-7 {
    position: absolute;
    height: 200px;
    width: 340px;
    background-color: #dd9450;
    left: 700px;
    top: 190px;
    border-radius: 0 0 20% 0;
  }
  
  .front-8 {
    position: absolute;
    width: 100px;
    left: 350px;
    top: -460px;
    transform: rotate(45deg);
  }
  
  .front-9 {
    position: absolute;
    width: 70px;
    height: 150px;
    background-color: #dd9450;
    left: 970px;
    top: 300px;
  }
  
  .front-10 {
    position: absolute;
    height: 300px;
    width: 500px;
    background-color: #dd9450;
    border-radius: 50%;
    top: 150px;
    
    transform: rotate(-10deg);
  }
  
  .front-11 {
    position: absolute;
    height: 400px;
    width: 300px;
    background-color: #dd9450;
    top: 46px;
    left: -20px;
    border-radius: 50%;
    
  }
  
  .legs {
    position: absolute;
  }
  
  .front-leg {
    position: absolute;
    height: 350px;
    width: 90px;
    background-color: #dd9450;
    border-radius: 80% 10% 30% 50%;
  }
  
  .front-leg-1 {
    position: absolute;
    top: 355px;
    left: 10px;
  }
  
  .paw {
    position: absolute;
    height: 80px;
    width: 120px;
    background-color: #ba6a3c;
    border-radius: 50%;
    left: -50px;
    top: 295px;
    border: solid 2px black;
    transform: rotate(10deg);
  }
  
  
  .back-leg-upper {
    position: absolute;
    width: 140px;
    height: 300px;
    background-color: #dd9450;
    border-radius: 50%;
    top: 330px;
    left: 705px;
    transform: rotate(-25deg);
  }
  
  .back-leg-lower {
    position: absolute;
    width: 90px;
    height: 220px;
    background-color: #dd9450;
    border-radius: 50% 50% 50% 10%;
    top: 500px;
    left: 760px;
    transform: rotate(20deg)
  }
  
  .back-leg-1 > .paw {
    position: absolute;
    top: 650px;
    left: 670px;
  }
  
  .back-leg-2 {
    position: absolute;
    left: 950px;
    top: 360px;
  }
  
  .back-leg-2-upper {
    position: absolute;
    width: 100px;
    height: 200px;
    background-color: #dd9450;
    border-radius: 0% 0 20% 30%;
    transform: rotate(-20deg);
  }
  
  .back-leg-2-lower {
    position: absolute;
    width: 80px;
    height: 180px;
    background-color: #dd9450;
    top: 150px;
    left: 30px;
    border-radius: 0 10% 0 80%;
    transform: rotate(10deg);
  }
  
  .back-leg-2 > .paw {
    position: absolute;
    top: 280px;
    left: -30px;
  }
  
  .tail {
    position: absolute;
    left: 880px;
    top: 90px;
  }
  
  .tail-upper {
    position: absolute;
    height: 100px;
    width: 250px;
    background-color: #dd9450;
    border-radius: 30% 50% 50% 50%;
    transform: rotate(23deg);
  }
  
  .tail-lower {
    position: absolute;
    height: 80px;
    width: 99px;
    background-color: #dd9450;
    top: 75px;
    left: 170px;
    transform: rotate(39deg);
    border-radius: 0 100% 80% 0;
  }
  
  .tail-tip {
    position: absolute;
    border-left: 50px solid #dd9450;
    border-bottom: 50px solid transparent;
    top: 100px;
    left: 222px;
    transform: rotate(140deg);
  }
  
  .front-leg-2 {
    position: absolute;
    top: 330px;
    left: 180px;
  }
  
  .head {
    position: absolute;
    z-index: 1;
    left: 100px;
    top: 30px;
  }

  .m-circle {
    position: absolute;
    height: 215px;
    width: 196px;
    border: solid 50px #ba6a3c;
    border-radius: 50%;
  }
  
  .triangle {
    position: absolute;
    border-right: 100px solid #ba6a3c;
    border-bottom: 130px solid transparent;
    
  }
  
  .t-1 {
    position: absolute;
    left: 75px;
    top: 380px;
    transform: rotate(270deg);
  }
  
  .t-2 {
    position: absolute;
    left: 40px;
    top: 210px;
    transform: rotate(60deg);
  }
  
  .t-3 {
    position: absolute;
    left: 122px;
    top: 280px;
  }
  
  .t-4 {
    position: absolute;
    top: 200px;
    left: 290px;
    transform: rotate(-90deg);
  }
  
  .t-5 {
    position: absolute;
    top: 300px;
    left: 190px;
    transform: rotate(-40deg);
  }
  
  .t-6 {
    position: absolute;
    top: 270px;
    left: 250px;
    transform: rotate(-70deg);
  }
  
  .t-7 {
    position: absolute;
    top: 50px;
    left: 50px;
    transform: rotate(120deg);
  }
  
  .t-t-0 {
    position: absolute;
    top: 30px;
    left: 120px;
    transform: rotate(160deg);
  }
  
  .t-t-1 {
    position: absolute;
    top: 100px;
    left: 20px;
    transform: rotate(100deg);
  }
  
  .t-t-2 {
    position: absolute;
    top: 12px;
    left: 170px;
    transform: rotate(180deg);
  }
  
  .t-t-3 {
    position: absolute;
    top: 140px;
    left: 290px;
    transform: rotate(-120deg);
  }
  
  .t-t-4 {
    position: absolute;
    top: 150px;
    transform: rotate(70deg);
  }
  
  .t-t-5 {
    position: absolute;
    left: 180px;
    transform: scale(-1, 1) rotate(140deg);
  }
  
  .t-t-6 {
    position: absolute;
    top: 50px;
    left: 210px;
    transform: rotate(220deg);
  }
  
  .manke {
    position: absolute;
    top: -70px;
    left: -75px;
    transform: scale(160%);
    z-index: 1;
  }
  
  .lion-tail {
    position: absolute;
    top: -50px;
    left: 1100px;
  }
  
  .tail-main {
    position: absolute;
    width: 200px;
    height: 200px;
    border: solid 20px;
    border-color: #dd9450 #dd9450 #dd9450 transparent;
    border-radius: 0 50% 50% 0%;
    
  }
  
  .tail-root {
    position: absolute;
    height: 20px;
    width: 200px;
    background-color: #dd9450;
    top: 220px;
    left: -170px;
  }
  
  .lion-tail-tip {
    position: absolute;
  }
  
  .tail-tip-1 {
    position: absolute;
    height: 80px;
    width: 100px;
    background-color: #ba6a3c;
    top: -40px;
    left: -30px;
    border-radius: 0 50% 50% 50%;
    transform: rotate(-45deg);
  }