body {
    margin: 0;
    width: 100vw;
    overflow: hidden;
}
.sky {
    width: 100vw;
    height: 50vw;

    &__dark {
        width: 0; 
        height: 0;
        border-top: 1.8vw solid transparent;
        border-bottom: 1.8vw solid transparent;  
        position: absolute;
    }
    &__dark:nth-of-type(2) {
        right: 0;
        top: 1.5vw;
        }
    &__dark:nth-of-type(3) {
        right: 0;
        top: 10.5vw;
        }
    &__dark:nth-of-type(4) {
        left: 0;
        top: 4vw;
        transform: rotateY(180deg);
        }
    &__dark:nth-of-type(5) {
        left: 0;
        top: 12.5vw;
        transform: rotateY(180deg);
        }

    &__bright {
        left: 0;
        top: 10vw;
        border-top: 3.9vw solid transparent;
        border-bottom: 3.9vw solid transparent; 
        transform: rotateY(180deg);
        position: absolute;
    }
}

.mountains > * , .mountains > * > *{
    position: absolute;
}

.land {
    overflow: hidden;
    height: 30vw;
    width: 100vw;
    position: absolute;
    top: 28vw;
}

.ground {
    width: 160vw;
    height: 50vw;
    position: absolute;
    border-radius: 50%;
    top: 0vw;
    
    &__left {
        width: 40vw;
        height: 33.4vw;
        transform: rotateZ(15deg);
        position: absolute;
        left: -9vw;
        top: -1.3vw;
        z-index: 3;
    }

    &__greyblock {
        border-radius: 50%;
        height: 15vw;
        width: 51vw;
        position: absolute;
        bottom: 24vw;
        left: -10vw;
        transform: rotateZ(-10deg);
        overflow: hidden;
    }

    &__greyblock::before {
        content: '';
        height: 100vw;
        width: 100vw;
        position: absolute;
        transform: rotateZ(40deg);
        left: 28.7vw;
        top: -73.7vw;
    }

    &__blueblock {
        width: 8vw;
        height: 10vw;
        position: absolute;
        bottom: 23.4vw;
        left: 0.4vw;
        transform: rotateZ(19deg);
    }

}

.mountain1 {
    top: 18vw;
    height: 30vw;
    width: 34vw;

    &__p1 {
        height: 21vw;
        width: 8vw;
        transform: rotateZ(20deg);
        bottom: 8vw;
        left: 3.6vw;
    }
    &__p2 {
        height: 5vw;
        width: 8vw;
        transform: rotateZ(60deg);
        border-radius: 7%;
        left: 7.4vw;
        top: 0.1vw;
    }
    &__p3 {
        height: 10vw;
        width: 8vw;
        left: 9vw;
        top: 1.4vw;
        transform: rotateZ(29deg);
        border-radius: 5%;
    }
    &__p4 {
        height: 10vw;
        width: 7vw;
        left: 14.4vw;
        border-radius: 4%;
        top: 4.8vw;
        transform: rotateZ(-27deg);
    }
}
.mountain2 {
    position: relative;
    height: 30vw;
    width: 30vw;
    top: -52vw;
    left: 20vw;

    &__p1 {
        height: 4vw;
        width: 4vw;
        top: 8.4vw;
        left: 2.4vw;
        transform: rotateZ(55deg);
    }
}
.mountain3 {
    height: 20vw;
    width: 20vw;
    position: relative;
    top: -32vw;
    left: 13vw;

    &__p1 {
        height: 4vw;
        width: 16vw;
        border-radius: 12%;
        transform: rotateZ(37deg);
        left: -1.1vw;
        top: 3.9vw;
    }
    &__p2 {
        height: 8vw;
        width: 12vw;
        transform: rotateZ(20deg);
        left: 3vw;
        top: 4vw;
    }
    &__p3 {
        height: 8vw;
        width: 8vw;
        transform: rotateZ(5deg);
        left: 12vw;
        top: 5.5vw;
    }
}