body {
    margin: 0;
    width: 100vw;
    height: 1600vh;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

main {
    height: 800vh;
}

.frame__1{
    height: 400vh;
    
}

.background {
    position: sticky;
    top: 0;
}

.box1 {
    position: absolute;
    top: 150vw;
    height: 40px;
    width: 40px;
}