.norwegian-trees {
    position: absolute;
    width: 100vw;
    height: 100vw;
    top: 23vw;
    z-index: 1;
}

.lynx {
    position: absolute;
    width: 15vw;
    height: 15vw;
    top: 43vw;
    left: 51vw;
    z-index: 2;
    .st0{fill:$orange-1;}
	  .st1{fill:$light-brown;stroke:$black-3;stroke-width:0.1;}
	  .st2{fill:$yellow-white;}
	  .st3{fill:$dark-brown;}
	  .st4{fill:$dark-orange;}
	  .st5{fill:$red-brown;fill-opacity:0.65;}
	  .st6{fill:$white-1;}
	  .st7{fill:$black-1;}
	  .st8{fill:$white-2;}
	  .st9{fill:$yellow-1;}
	  .st10{fill:$orange-2;}
	  .st11{fill:$black-2;}
	  .st12{fill:none;stroke:$black-3;stroke-width:0.1;}
}

#head{
  transform-origin: 50% 50%;
  transform-box: fill-box;
  z-index: 1;
}

.water-tap > *{
  position: absolute;
  z-index: 0.9;
  top: -9.5vw;
  left: 6.5vw;

  .st0{fill:#D2D2D2;}
	.st1{fill:#727272;}
}


.trees--african {
  position: relative;
  top: -75vw;
  left: 40vw;
  height: 20vw;
  width: 55vw;
  z-index: 1;
}

.trees--african {
  .st0{fill: $african-tree-trunk;}
  .st1{fill: var(--ground);}
  .st2{fill: $african-tree-green;}
  .st3{fill: $african-tree-lightgreen;}
  transition: 2s;
}

.lynx{
  .st0{fill:#DD944F;}
	.st1{fill:#BA6A3B;stroke:#000000;stroke-width:0.1;}
	.st2{fill:#EDEAE6;}
	.st3{fill:#302016;}
	.st4{fill:#BD5D2E;}
	.st5{fill:#A53A23;fill-opacity:0.65;}
	.st6{fill:#EEEAE9;}
	.st7{fill:#040504;}
	.st8{fill:#EDEAE9;}
	.st9{fill:#E8B85C;}
	.st10{fill:#CF7D2E;}
	.st11{fill:#0D0C0C;}
	.st12{fill:none;stroke:#000000;stroke-width:0.1;}
}
    #head{
        transform-origin: 50% 50%;
        transform-box: fill-box;
        animation: beat 4s infinite;
        z-index: 1;
      }

#well1 {
    position: absolute;
    width: 25vw;
    top: 3vw;
    left: -56vw;
    z-index: 1;

        .st0{fill:none;stroke:#000000;stroke-width:0.5;}
        .st1{fill:#6C4949;stroke:#000000;stroke-width:0.5;}
        .st2{fill:#6C4949;}
        .st3{fill:#3586FF;}
        .st4{fill:none;stroke:#000000;stroke-width:0.6;}
        .st5{fill:#583C2C;fill-opacity: 1;}
        .st6{fill:#A3765D;}
        .st7{fill:#A4A4A4;}
        .st8{fill:#727272;}
        .st9{fill:#A8643E;}
        .st10{fill:#C4C4C4;}
}
.handle1 {
  animation: drag-inner 4s linear 3;
}

.rope {
  animation: rope 12s forwards;
}

.handle{
  animation: drag 4s linear 3;
}

#bucket{
  animation: pull 12s forwards;
}


.norwegian-house {
  position: absolute;
  width: 62vw;
  top: -84vw;
  left: 3vw;
  z-index: 1;
}

.jacuzzi {
  position: absolute;
  width: 16vw;
  top: -63vw;
  left: -1vw;
  z-index: 1;
}


.intro__hands {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10vw;
  left: -15vw;
  z-index: 1; 
}

.intro__eclipse {
  position: absolute;
  height: 100vw;
  width: 100vw;
  left: -9vw;
  top: 1vw;
  z-index: 3;
}


.tumbleweed {
  position: absolute;
  width: 8vw;
  top: -55vw;
  left: 90vw;

}

.village {
  position: absolute;
  width: 25vw;
  top: -79vw;
  left: 15vw;
}

.small-trees-african-2 {
  position: absolute;
  width: 100vw;
  top: -94vw;
  left: 26vw;
  z-index: 1;
  .st0{fill:$african-tree-trunk;}
  .st1{fill:var(--ground)}
  .st2{fill:$african-tree-green;}
  .st3{fill:$african-tree-lightgreen;}
}



.big-trees-african-2 {
  position: absolute;
  width: 100vw;
  top: -97.5vw;
  left: 36vw;
  z-index: 1;
  .st0{fill:$african-tree-trunk;}
  .st1{fill:$african-tree-green;}
  .st2{fill:$african-tree-lightgreen;}
}

.no-leaf {
  .st2{fill:rgba(55, 179, 59, 0);}
  .st1{fill:rgba(55, 179, 59, 0);}
  .st3{fill:rgba(55, 179, 59, 0);}
}
.pond {
  position: absolute;
  width: 20vw;
  top: -73vw;
  left: 75vw;
  z-index: 1;
}

.growing-tree1 {
  position: absolute;
  width: 16vw;
  top: -53vw;
  right: 8.5vw;
  z-index: 2;
  animation: growing 26s forwards; 
}

.growing-tree2 {
  position: absolute;
  width: 18vw;
  top: -60vw;
  right: 5vw;
  z-index: 1;
  animation: growing 27s forwards; 
}

.growing-tree3 {
  position: absolute;
  width: 18vw;
  top: -58vw;
  right: 2vw;
  z-index: 1;
  animation: growing 18s forwards; 
}

.growing-tree4 {
  position: absolute;
  width: 20vw;
  top: -55vw;
  right: 10vw;
  z-index: 1;
  animation: growing 23s forwards; 
}

.tap-handle {
  z-index: 2;
  position: absolute;
  width: 100vw;
  height: 100vw;
  top: -36.5vw;
  left: 9vw;
  background-color: transparent;
  animation: spin 3s infinite linear;
}

#handling {
  position:absolute; 
  z-index: 2;
  width: 100vw;
  height: 100vw;
  top: 5.3vw;
  left: -3.2vw;
}


