.norwegian-trees {
    position: absolute;
    width: 100vw;
    height: 100vw;
    top: 23vw;
    z-index: 1;
}

.lynx {
    position: absolute;
    width: 15vw;
    height: 15vw;
    top: 43vw;
    left: 51vw;
    z-index: 1;
}

.well1 {
    position: absolute;
    width: 15vw;
    height: 15vw;
    top: 40vw;
    left: 1.8vw;
    z-index: 1;
}
