@import "_colors.scss";
@import "_animations.scss";
@import "_layout.scss";
@import "_theme.scss";
@import "_typography.scss";



body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.square {
    width: 10em;
    height: 10em;
    background-color: $color-square;
    position: relative;
    
}

.square--trym {
    animation: trym 6s 2s infinite;
}

.square--sondre {
    margin: 50px;
    background-color: $color-s-square;
    animation: translate 3s infinite;
}


.square--anette {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-top: 10rem;
    background-color: lightblue;
    animation-name: rotates, color_change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
  }

@keyframes trym {
    25% { border-radius: 50%; transform: rotateZ(0deg);}
    26% { transform: rotateZ(45deg); } 
    50% { border-radius: 0%; }
    75% { border-radius: 50%; transform: rotateZ(45deg)}
    76% { transform: rotateZ(0deg);}
    100% { border-radius: 0%;}
}

@keyframes translate {
    0% {
      transform: translate(0);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        width: 150px;
    }
    100% {
      transform: translate(100%);
    }
}

@keyframes rotates{
    0%  {transform: rotate(0deg);}
    100%  {transform: rotate(360deg);}
} 
  
@keyframes color_change {
    10% {
      background-color: rgb(184, 228, 236); 
    }
    20% {
       background-color: rgb(162, 219, 230);
    }
    30% { 
        background-color: rgb(113, 212, 229); 
    }
    40% {
       background-color: rgb(67, 204, 231);
    }
    50% {
       background-color: rgb(16, 188, 222);
    }
    60% {
      background-color: rgb(67, 204, 231);
    }
    70% {
      background-color: rgb(113, 212, 229);
    }
    80% {
        background-color: rgb(162, 219, 230);
    } 
    90% {
      background-color: rgb(184, 228, 236); 
    }
    100% {
        background-color: lightblue;
    }
}
  
  
  
@media (prefers-color-scheme: light) {
    .square--anette
      body {
          background-color: rgb(246, 243, 239);
      }
}
  
  
@media (orientation: landscape) {
    .square--anette
      body {
          flex-direction: row;
      }
}
  
@media (orientation: portrait) {
    .square--anette
    body {
        flex-direction: column;
    }
    .square--sondre, .square--trym {
        background-color: $landscape-square;
      }
}


@media (prefers-reduced-motion) {
    .square--sondre, .square--trym, .square--anette {
      animation: none;
    }
}
  
@media (prefers-color-scheme: dark) {
    .square--sondre, .square--trym {
      background-color: $dark-square;
    }
}
  
@media (orientation: landscape) {
    @media (prefers-color-scheme: dark) {
        .square--sondre, .square--trym {
            background-color: $dark-square;
        }
    }
}