body {
  --mountain-1: hsl(0,1%,66%);
  --mountain-2: hsl(0,3%,70%);
  --mountain-3: hsl(0,4%,78%);
  --mountain-4: hsl(212,19%,77%);
  --mountain-5: hsl(210,39%,76%);
  --ground: hsl(100,75%,37%);
  --sky: hsl(208,83%,74%);
  --sky-dark: hsl(211,73%,64%);
  --sky-bright: hsl(208,76%,83%);
}

body.african {
  --mountain-1: hsl(30,70%,56%);
  --mountain-2: hsl(31,78%,58%);
  --mountain-3: hsl(31,76%,66%);
  --mountain-4: hsl(32,31%,54%);
  --mountain-5: rgb(192, 161, 126);
  --ground: hsl(31,74%,48%);
  --sky: hsl(32,83%,74%);
  --sky-dark:hsl(19,73%,64%);
  --sky-bright: hsl(34,44%,83%);
}

#head {
  -webkit-animation: beat 4s infinite;
          animation: beat 4s infinite;
}

@-webkit-keyframes beat {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-50px, 100px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes beat {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-50px, 100px);
  }
  100% {
    transform: translate(0);
  }
}
@-webkit-keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.tumbleweed {
  -webkit-animation: tumbling 5s infinite;
          animation: tumbling 5s infinite;
}

@-webkit-keyframes tumbling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes tumbling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
body {
  margin: 0;
  width: 100vw;
  height: 1600vh;
  overflow-x: hidden;
  transition: 2s;
}

body.african {
  transition: 2s;
}

.hidden {
  display: none;
}

main {
  height: 800vh;
}

.frame__1 {
  height: 400vh;
}

.frame__4 {
  position: absolute;
}

.background {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.box1 {
  position: absolute;
  top: 150vw;
  height: 40px;
  width: 40px;
}

.pond {
  margin-top: 1.2rem;
  margin-left: 3.2rem;
  position: absolute;
}
.pond__water:nth-of-type(1) {
  width: 370px;
  height: 115px;
  border-radius: 50%;
  margin-left: 2rem;
}
.pond__water:nth-of-type(2) {
  width: 350px;
  height: 140px;
  border-radius: 50%;
  margin-top: -4.4rem;
  margin-left: 1rem;
  transform: skew(15deg, 3deg);
}
.pond__water:nth-of-type(3) {
  width: 210px;
  height: 70px;
  border-radius: 50%;
  margin-top: -5.4rem;
  margin-left: 16rem;
  transform: skew(-10deg, -11deg);
}
.pond__water:nth-of-type(4) {
  width: 125px;
  height: 80px;
  border-radius: 70%;
  margin-left: 20.3rem;
  margin-top: -7.6rem;
  transform: skew(-15deg);
}
.pond__water:nth-of-type(5) {
  width: 88px;
  height: 45px;
  border-radius: 50%;
  margin-top: -2.5rem;
  margin-left: 0.25rem;
  transform: rotate(30deg);
}
.pond__bubble:nth-of-type(1) {
  width: 188px;
  height: 52px;
  border-radius: 50%;
  margin-left: 6.3rem;
  margin-top: -6.5rem;
}
.pond__bubble:nth-of-type(2) {
  width: 146px;
  height: 47px;
  border-radius: 50%;
  margin-left: 14rem;
  margin-top: -4.6rem;
}
.pond__bubble:nth-of-type(3) {
  width: 140px;
  height: 60px;
  border-radius: 50%;
  margin-left: 15rem;
  margin-top: -2.3rem;
}
.pond__bubble:nth-of-type(4) {
  width: 155px;
  height: 60px;
  border-radius: 50%;
  margin-left: 4.5rem;
  margin-top: -2.4rem;
}
.pond__bubble:nth-of-type(5) {
  width: 8px;
  height: 6px;
  border-radius: 50%;
  margin-left: 13rem;
  margin-top: -2.5rem;
}
.pond__bubble:nth-of-type(6) {
  width: 8px;
  height: 6px;
  border-radius: 50%;
  margin-left: 12.2rem;
  margin-top: -2.9rem;
}
.pond__bubble:nth-of-type(7) {
  width: 8px;
  height: 6px;
  border-radius: 50%;
  margin-left: 10.5rem;
  margin-top: 2.2rem;
}
.pond__bubble:nth-of-type(8) {
  width: 9px;
  height: 6px;
  border-radius: 50%;
  margin-left: 11.8rem;
  margin-top: 1.8rem;
}
.pond__bubble:nth-of-type(9) {
  width: 10px;
  height: 6px;
  border-radius: 50%;
  margin-left: 16.8rem;
  margin-top: -3.5rem;
}
.pond__bubble:nth-of-type(10) {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: 21.2rem;
  margin-top: -0.4rem;
}
.pond__bubble:nth-of-type(11) {
  width: 10px;
  height: 7px;
  border-radius: 50%;
  margin-left: 20.4rem;
  margin-top: 0.1rem;
}
.pond__bubble:nth-of-type(12) {
  width: 8px;
  height: 5px;
  border-radius: 50%;
  margin-left: 15.2rem;
  margin-top: -5.6rem;
}
.pond__bubble:nth-of-type(13) {
  width: 13px;
  height: 9px;
  border-radius: 50%;
  margin-left: 3.7rem;
  margin-top: -3.4rem;
}
.pond__bubble:nth-of-type(14) {
  width: 8px;
  height: 6px;
  border-radius: 50%;
  margin-left: 4.8rem;
  margin-top: -3.1rem;
}
.pond__bubble:nth-of-type(1), .pond__bubble:nth-of-type(2), .pond__bubble:nth-of-type(3), .pond__bubble:nth-of-type(4), .pond__bubble:nth-of-type(5), .pond__bubble:nth-of-type(6), .pond__bubble:nth-of-type(7), .pond__bubble:nth-of-type(8), .pond__bubble:nth-of-type(13), .pond__bubble:nth-of-type(14) {
  position: absolute;
}
.pond__bubble:nth-of-type(9), .pond__bubble:nth-of-type(10), .pond__bubble:nth-of-type(11), .pond__bubble:nth-of-type(12) {
  position: absolute;
}

.edge {
  z-index: -1;
  /* grey */
}
.edge__1:nth-of-type(1) {
  width: 410px;
  height: 145px;
  border-radius: 50%;
  margin-left: 4.2rem;
  margin-top: 18rem;
  z-index: -1;
}
.edge__2:nth-of-type(2) {
  width: 100px;
  height: 75px;
  border-radius: 50%;
  margin-left: 26.5rem;
  margin-top: -5.5rem;
}
.edge__3:nth-of-type(3) {
  width: 70px;
  height: 45px;
  border-radius: 50%;
  margin-left: 28.3rem;
  margin-top: -1.5rem;
  transform: skew(-32deg);
  z-index: -1;
  position: absolute;
}
.edge__4:nth-of-type(4) {
  width: 60px;
  height: 80px;
  border-radius: 50%;
  margin-left: 3.4rem;
  margin-top: -3.8rem;
  transform: rotate(-40deg);
  z-index: -1;
  position: absolute;
}
.edge__5:nth-of-type(5) {
  width: 422px;
  height: 165px;
  border-radius: 50%;
  margin-left: 3.8rem;
  margin-top: -9rem;
}
.edge__6:nth-of-type(6) {
  width: 100px;
  height: 90px;
  border-radius: 50%;
  margin-left: 27.2rem;
  margin-top: -5.3rem;
  transform: rotate(-30deg);
}
.edge__7:nth-of-type(7) {
  width: 190px;
  height: 75px;
  border-radius: 50%;
  margin-left: 21rem;
  margin-top: -2rem;
  transform: skew(-55deg);
}
.edge__8:nth-of-type(8) {
  width: 192px;
  height: 55px;
  border-radius: 50%;
  margin-left: 21.6rem;
  margin-top: 0rem;
  transform: rotate(-19deg);
}
.edge__9:nth-of-type(9) {
  width: 370px;
  height: 135px;
  border-radius: 50%;
  margin-left: 2rem;
  margin-top: -3.8rem;
  transform: rotate(12deg);
}
.edge__10:nth-of-type(10) {
  width: 90px;
  height: 30px;
  border-radius: 50%;
  margin-left: 20rem;
  margin-top: 2.6rem;
  transform: rotate(-8deg);
}
.edge__5:nth-of-type(5), .edge__6:nth-of-type(6), .edge__7:nth-of-type(7), .edge__8:nth-of-type(8), .edge__9:nth-of-type(9), .edge__10:nth-of-type(10) {
  position: absolute;
  z-index: -2;
}

.intro {
  height: 58vw;
  background: #a2caf0;
}
.intro__circle {
  position: absolute;
  width: 50vw;
  height: 50vw;
  background-color: white;
  border-radius: 100%;
  top: 3vw;
  left: 25vw;
  z-index: 0;
}

.sky, .ground__blueblock {
  background-color: var(--sky);
  transition: 2s;
}

.ground__greyblock {
  background-color: var(--mountain-1);
  transition: 2s;
}

.ground__greyblock::before {
  background-color: var(--mountain-2);
  transition: 2s;
}

.ground, .ground__left {
  background-color: var(--ground);
  transition: 2s;
}

.sky__dark:nth-of-type(2) {
  border-right: 65vw solid var(--sky-dark);
  transition: 2s;
}

.sky__dark:nth-of-type(3) {
  border-right: 40vw solid var(--sky-dark);
  transition: 2s;
}

.sky__dark:nth-of-type(4) {
  border-right: 59vw solid var(--sky-dark);
  transition: 2s;
}

.sky__dark:nth-of-type(5) {
  border-right: 45vw solid var(--sky-dark);
  transition: 2s;
}

.sky__bright {
  border-right: 170vw solid var(--sky-bright);
  transition: 2s;
}

.mountain1 > * {
  background-color: var(--mountain-1);
  transition: 2s;
}

.mountain2 > * {
  background-color: var(--mountain-2);
  transition: 2s;
}

.mountain3 > * {
  background-color: var(--mountain-3);
  transition: 2s;
}

.mountain4 {
  border-bottom: 10vw solid var(--mountain-4);
  transition: 2s;
}

.mountain5 {
  border-bottom: 6vw solid var(--mountain-5);
  transition: 2s;
}

.sun {
  background-color: hsl(43deg, 94%, 72%);
}

.pond__water > * {
  background-color: hsl(183deg, 51%, 51%);
}

.pond__bubble:nth-of-type(1), .pond__bubble:nth-of-type(2), .pond__bubble:nth-of-type(3), .pond__bubble:nth-of-type(4), .pond__bubble:nth-of-type(5), .pond__bubble:nth-of-type(6), .pond__bubble:nth-of-type(7), .pond__bubble:nth-of-type(8), .pond__bubble:nth-of-type(13), .pond__bubble:nth-of-type(14) {
  background-color: hsl(183deg, 47%, 59%);
}

.pond__bubble:nth-of-type(9), .pond__bubble:nth-of-type(10), .pond__bubble:nth-of-type(11), .pond__bubble:nth-of-type(12) {
  background-color: hsl(183deg, 54%, 74%);
}

.edge__1:nth-of-type(1), .edge__2:nth-of-type(2), .edge__3:nth-of-type(3), .edge__4:nth-of-type(4) {
  background-color: hsl(31deg, 75%, 48%);
}

.edge__5:nth-of-type(5), .edge__6:nth-of-type(6), .edge__7:nth-of-type(7), .edge__8:nth-of-type(8), .edge__9:nth-of-type(9), .edge__10:nth-of-type(10) {
  background-color: hsl(29deg, 41%, 50%);
}

.sky {
  width: 100vw;
  height: 50vw;
}
.sky__dark {
  width: 0;
  height: 0;
  border-top: 1.8vw solid transparent;
  border-bottom: 1.8vw solid transparent;
  position: absolute;
}
.sky__dark:nth-of-type(2) {
  right: 0;
  top: 1.5vw;
}
.sky__dark:nth-of-type(3) {
  right: 0;
  top: 12.5vw;
}
.sky__dark:nth-of-type(4) {
  left: 0;
  top: 4vw;
  transform: rotateY(180deg);
}
.sky__dark:nth-of-type(5) {
  left: 0;
  top: 12.5vw;
  transform: rotateY(180deg);
}
.sky__bright {
  left: 0;
  top: 10vw;
  border-top: 3.9vw solid transparent;
  border-bottom: 3.9vw solid transparent;
  transform: rotateY(180deg);
  position: absolute;
}

.sun, .mountains > *, .mountains > * > * {
  position: absolute;
}

.land {
  overflow: hidden;
  height: 30vw;
  width: 100vw;
  position: absolute;
  top: 28vw;
}

.ground {
  width: 160vw;
  height: 50vw;
  position: absolute;
  border-radius: 50%;
  top: 0vw;
}
.ground__left {
  width: 30vw;
  height: 33.4vw;
  transform: rotateZ(15deg);
  position: absolute;
  left: -9vw;
  top: -1.3vw;
}
.ground__greyblock {
  border-radius: 50%;
  height: 16vw;
  width: 51vw;
  position: absolute;
  bottom: 27vw;
  left: -12vw;
  transform: rotateZ(-19deg);
  overflow: hidden;
}
.ground__greyblock::before {
  content: "";
  height: 100vw;
  width: 100vw;
  position: absolute;
  transform: rotateZ(54deg);
  left: 24.1vw;
  top: -73.7vw;
}
.ground__blueblock {
  width: 8vw;
  height: 10vw;
  position: absolute;
  bottom: 23.4vw;
  left: -0.3vw;
  transform: rotateZ(19deg);
}

.sun {
  border-radius: 50%;
  height: 15vw;
  width: 15vw;
  top: 18vw;
  left: 16vw;
}

.mountain1 {
  top: 18vw;
  height: 30vw;
  width: 34vw;
}
.mountain1__p1 {
  height: 21vw;
  width: 8vw;
  transform: rotateZ(20deg);
  bottom: 7.9vw;
  left: 3.47vw;
}
.mountain1__p2 {
  height: 5vw;
  width: 8vw;
  transform: rotateZ(60deg);
  border-radius: 7%;
  left: 7.2vw;
  top: 0.1vw;
}
.mountain1__p3 {
  height: 10vw;
  width: 8vw;
  left: 9vw;
  top: 1.4vw;
  transform: rotateZ(29deg);
  border-radius: 5%;
}
.mountain1__p4 {
  height: 10vw;
  width: 7vw;
  left: 14.4vw;
  border-radius: 4%;
  top: 4.8vw;
  transform: rotateZ(-27deg);
}

.mountain2 {
  position: relative;
  height: 30vw;
  width: 30vw;
  top: -52vw;
  left: 20vw;
}
.mountain2__p1 {
  height: 6vw;
  width: 6vw;
  top: 8.4vw;
  left: 2.4vw;
  transform: rotateZ(55deg);
}
.mountain2__p2 {
  height: 15vw;
  width: 16vw;
  top: 3vw;
  left: 5.2vw;
  transform: rotateZ(45deg);
}
.mountain2__p3 {
  height: 6vw;
  width: 6vw;
  left: 10vw;
  transform: rotateZ(31deg);
  border-radius: 8%;
}
.mountain2__p4 {
  height: 12vw;
  width: 12vw;
  left: 9vw;
  top: 0.5vw;
  transform: rotateZ(21deg);
  border-radius: 8%;
}
.mountain2__p5 {
  height: 16vw;
  width: 9vw;
  left: 16.6vw;
  top: 3.6vw;
  transform: rotateZ(-21deg);
  border-radius: 8%;
}

.mountain3 {
  height: 20vw;
  width: 20vw;
  position: relative;
  top: -32vw;
  left: 13vw;
}
.mountain3__p1 {
  height: 4vw;
  width: 16vw;
  border-radius: 12%;
  transform: rotateZ(37deg);
  left: -1.1vw;
  top: 3.9vw;
}
.mountain3__p2 {
  height: 8vw;
  width: 12vw;
  transform: rotateZ(20deg);
  left: 3vw;
  top: 4vw;
}
.mountain3__p3 {
  height: 8vw;
  width: 8vw;
  transform: rotateZ(5deg);
  left: 12vw;
  top: 5.5vw;
}

.mountain4 {
  right: 2vw;
  top: 20vw;
  border-left: 8vw solid transparent;
  border-right: 8vw solid transparent;
  transform: rotateY(180deg);
  position: absolute;
}

.mountain5 {
  right: 20vw;
  top: 23vw;
  border-left: 4vw solid transparent;
  border-right: 4vw solid transparent;
  transform: rotateY(180deg);
  position: absolute;
}

.sun-african {
  height: 30vw;
  width: 60vw;
  border-radius: 45vw 45vw 0 0;
  top: 10vw;
  left: 6vw;
  transition: 2s;
}

.river {
  position: relative;
  top: -69vw;
  left: 3vw;
}
.river__img {
  width: 60vw;
  height: 120vw;
}

#norwegian-river, #african-river {
  width: 74vw;
  height: 27vw;
  -o-object-fit: cover;
     object-fit: cover;
}

.norwegian-trees {
  position: absolute;
  width: 100vw;
  height: 100vw;
  top: 23vw;
  z-index: 1;
}

.lynx {
  position: absolute;
  width: 15vw;
  height: 15vw;
  top: 43vw;
  left: 51vw;
  z-index: 2;
}
.lynx .st0 {
  fill: #DD944F;
}
.lynx .st1 {
  fill: #BA6A3B;
  stroke: #000000;
  stroke-width: 0.1;
}
.lynx .st2 {
  fill: #EDEAE6;
}
.lynx .st3 {
  fill: #302016;
}
.lynx .st4 {
  fill: #BD5D2E;
}
.lynx .st5 {
  fill: #A53A23;
  fill-opacity: 0.65;
}
.lynx .st6 {
  fill: #EEEAE9;
}
.lynx .st7 {
  fill: #040504;
}
.lynx .st8 {
  fill: #EDEAE9;
}
.lynx .st9 {
  fill: #E8B85C;
}
.lynx .st10 {
  fill: #CF7D2E;
}
.lynx .st11 {
  fill: #0D0C0C;
}
.lynx .st12 {
  fill: none;
  stroke: #000000;
  stroke-width: 0.1;
}

#head {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  z-index: 1;
}

.water-tap > * {
  position: absolute;
  z-index: 2;
  top: -8vw;
  left: 13vw;
}
.water-tap > * .st0 {
  fill: #D2D2D2;
}
.water-tap > * .st1 {
  fill: #727272;
}

.well1 {
  position: absolute;
  width: 25vw;
  top: 43vw;
  left: -6vw;
  z-index: 1;
}

.intro__hands {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 10vw;
  left: -15vw;
  z-index: 1;
}

.intro__eclipse {
  position: absolute;
  height: 100vw;
  width: 100vw;
  left: -9vw;
  top: 1vw;
  z-index: 3;
}

.handle {
  transform-origin: center;
  -webkit-animation-name: rotate-s-loader;
          animation-name: rotate-s-loader;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.tumbleweed {
  position: absolute;
  width: 8vw;
  top: -60vw;
  left: 90vw;
  z-index: 1;
}

.village {
  position: absolute;
  width: 25vw;
  top: -76vw;
  left: 6vw;
  z-index: 1;
}

.small-trees-african-2 {
  position: absolute;
  width: 100vw;
  top: -94vw;
  left: 26vw;
  z-index: 1;
}

.big-trees-african-2 {
  position: absolute;
  width: 100vw;
  top: -97.5vw;
  left: 36vw;
  z-index: 1;
}

.pond {
  position: absolute;
  width: 20vw;
  top: -73vw;
  left: 75vw;
  z-index: 1;
}/*# sourceMappingURL=index.css.map */