@import "_colors.scss";

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 10em;
    height: 10em;
    background-color: $color-square;
    position: relative;
    
}

.square--trym {
    animation: trym 6s 2s infinite;
}

.square--sondre {
    margin: 50px;
    background-color: $color-s-square;
    animation: translate 3s infinite;
}

@keyframes trym {
    25% { border-radius: 50%; transform: rotateZ(0deg);}
    26% { transform: rotateZ(45deg); } 
    50% { border-radius: 0%; }
    75% { border-radius: 50%; transform: rotateZ(45deg)}
    76% { transform: rotateZ(0deg);}
    100% { border-radius: 0%;}
}

@keyframes translate {
    0% {
      transform: translate(0);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        width: 150px;
    }
    100% {
      transform: translate(100%);
    }
}

  
@media (prefers-reduced-motion) {
    .square--sondre, .square--trym {
      animation: none;
    }
}
  
@media (prefers-color-scheme: dark) {
    .square--sondre, .square--trym {
      background-color: $dark-square;
    }
}
  
@media (orientation: landscape) {
    .square--sondre, .square--trym {
      background-color: $landscape-square;
    }
}

@media (orientation: landscape) {
    @media (prefers-color-scheme: dark) {
        .square--sondre, .square--trym {
            background-color: $dark-square;
        }
    }
}